.header_content1 {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 15%; 

}

.header_content1 .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    text-align: start;
}

.header_content1 .left h1 {
    font-size: 49px;
}

.header_content1 .left p {
    font-size: 1.1rem;
    margin: 0;
}

.header_content1 img {
    width: 500px;
}

.header_content1 .btns {
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 205px;
    text-align: start;
    justify-content: flex-start;
}

.header_content1 .btns button {
    height: 50px;
    width: 160px;
    border: 1px solid #DC780B;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
}

.header_content1 .btns > button:first-child {
    background-color: #DC780B;
    color: #FFFFFF;
}

.header_content1 .btns > button:nth-child(2) {
    color: #DC780B;
}